@font-face{
    font-family:"gafata";
    src:url("gafata.otf");
}

body{
    font-family: "Gafata";
    padding:0px;
    background-color:#09153D;
}
main{
    max-width:70em;
    margin:0 auto;
}

header{
    text-align:center;
    color:slategrey;
}

article h2{
    color:#073642;
    text-align:center;
    font-size:36pt;
    margin:0;
    padding:0;
    text-shadow: 5px 10px 15px #09153D;
}
article{
    border-radius:3em;
    color:black;
    background-color:#E8E8E8;
    padding:4em 8em;
    margin-bottom:5em;
    box-shadow: inset 0px 0px 10px #09153D;
}

a:link {color:#268bd2;}
a:visited {color:#6c71c4;}
a:hover {color:#2aa198;}
a:active {color:#9bb2F9;}

footer{
    text-align:center;
    color:gray;
}
li{
    margin:5ex;
    list-style:none;
}
li a{
    font-size:22pt;
}
