@font-face{
    font-family:"gafata";
    src:url("gafata.otf");
}

body{
    font-family: "Gafata";
    padding:0px;
    background-color:#09153D;
}
main{
    max-width:70em;
    margin:0 auto;
}

header{
    text-align:center;
    color:slategrey;
}

article h2{
    color:#09153D;
    text-align:center;
    font-size:24pt;
    margin:0;
    padding:0;
    text-shadow: 5px 10px 15px #09153D;
}
article{
    font-size:14pt;
    border-radius:1ex;
    color:black;
    background-color:#858B9C;
    padding:1em 2em;
    margin-bottom:2em;
    box-shadow: inset 0px 0px 10px #09153D;
}

a:link {color:#268b00;}
a:visited {color:#268b00;}
a:hover {color:#2aa198;}
a:active {color:#9bb2F9;}

footer{
    text-align:center;
    color:#123456;
}
li{
    margin:1ex;
    list-style:none;
}
